[Unit]
Description=epoll-server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/epoll-server
User=nobody
Group=nogroup
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
MemoryLimit=256M
ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=yes
PrivateTmp=true

[Install]
WantedBy=multi-user.target